* text=auto !eol
/.classpath -text
/.project -text
.settings/.jsdtscope -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.jsdt.ui.superType.container -text
.settings/org.eclipse.wst.jsdt.ui.superType.name -text
.settings/org.eclipse.wst.validation.prefs -text
WebContent/META-INF/MANIFEST.MF -text
WebContent/WEB-INF/web.xml -text
WebContent/acknowledgement/acknowledgement.jsp -text
WebContent/analytics/ack_by_distinct_entity.jsp -text
WebContent/analytics/ack_by_total_entity.jsp -text
WebContent/award/award.jsp -text
WebContent/award/award_by_frequency.jsp -text
WebContent/award/award_list.jsp -text
WebContent/award/award_search.jsp -text
WebContent/clinical_trial/clinical_trial_list.jsp -text
WebContent/collaboration/collaboration.jsp -text
WebContent/collaboration/collaboration_list.jsp -text
WebContent/discipline/discipline.jsp -text
WebContent/discipline/discipline_list.jsp -text
WebContent/disease/disease.jsp -text
WebContent/disease/disease_list.jsp -text
WebContent/event/event.jsp -text
WebContent/event/event_list.jsp -text
WebContent/footer.jsp -text
WebContent/funding_agency/funding_agency.jsp -text
WebContent/funding_agency/funding_agency_list.jsp -text
WebContent/header.jsp -text
WebContent/images/bullet-l1.gif -text
WebContent/images/leo.png -text
WebContent/index.jsp -text
WebContent/location/location.jsp -text
WebContent/location/location_list.jsp -text
WebContent/menu.jsp -text
WebContent/organic_chemical/organic_chemical.jsp -text
WebContent/organic_chemical/organic_chemical_list.jsp -text
WebContent/organism/organism.jsp -text
WebContent/organism/organism_list.jsp -text
WebContent/organization/organization.jsp -text
WebContent/organization/organization_list.jsp -text
WebContent/organization/organization_search.jsp -text
WebContent/person/person.jsp -text
WebContent/person/person_by_frequency.jsp -text
WebContent/person/person_list.jsp -text
WebContent/person/person_search.jsp -text
WebContent/project/project.jsp -text
WebContent/project/project_list.jsp -text
WebContent/publication_component/publication_component.jsp -text
WebContent/publication_component/publication_component_list.jsp -text
WebContent/resource/resource.jsp -text
WebContent/resource/resource_list.jsp -text
WebContent/resource/resource_search.jsp -text
WebContent/resources/d3.v4.min.js -text
WebContent/resources/style.css -text
WebContent/sandbox/tree.jsp -text
WebContent/sandbox/tree_edited.jsp -text
WebContent/sentence/sentence.jsp -text
WebContent/support/support.jsp -text
WebContent/support/support_list.jsp -text
WebContent/technique/technique.jsp -text
WebContent/technique/technique_list.jsp -text
WebContent/template/browse.jsp -text
WebContent/template/browse_fragment.jsp -text
WebContent/template/browse_pattern.jsp -text
WebContent/template/browse_unbound.jsp -text
WebContent/template/defer.jsp -text
WebContent/template/generate.jsp -text
WebContent/template/submit.jsp -text
WebContent/template/suppress.jsp -text
WebContent/template/verify.jsp -text
WebContent/visualization/syntaxTree.jsp -text
/pom.xml -text
